@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './reset.css';
@import './variables.css';

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    color: var(--dark-slate-grey);
    background: var(--charcoal-grey);
}

main {
    max-width: 425px;
    background: var(--white);
}

.start-container {
    height: 100%;
    display: grid;
    margin-top: auto;
}

.text-form-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.start-container img {
    width: 100%;
}

.start-container h1 {
    font-size: 2.5rem;
}

.start-container ul li {
    display: flex;
    gap: 1rem;
}

.start-container ul li:not(:first-child) {
    margin-top: .5rem;
}

.start-container ul li img {
    width: 21px;
    height: 21px;
}

.start-container form label {
    display: block;
    margin-top: .75rem;
    font-weight: 700;
    font-size: .875rem;
}

.start-container form input[type='email'] {
    display: block;
    border: 1px solid var(--grey);
    margin: .25rem 0 1.25rem 0;
}

.start-container form input[type='submit'] {
    background: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 700;
    border: none;
}

.start-container form input {
    width: 100%;
    border-radius: .375rem;
    padding: 1rem;
}













































.success-container {
    display: none;
}