@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './reset.css';
@import './variables.css';

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    color: var(--dark-slate-grey);
    background: var(--charcoal-grey);
}

main {
    max-width: 425px;
    background: var(--white);
}

.start-container {
    height: 100%;
    display: grid;
    margin-top: auto;
}

.text-form-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.start-container img {
    display: block;
    width: 100%;
}

.start-container h1 {
    font-size: 2.5rem;
}

.start-container ul li {
    display: flex;
    gap: 1rem;
}

.start-container ul li:not(:first-child) {
    margin-top: .5rem;
}

.start-container ul li img {
    width: 21px;
    height: 21px;
}

form div {
    display: flex;
    margin-top: .75rem;
    font-weight: 700;
    font-size: .875rem;
    justify-content: space-between;
}

form .error {
    color: var(--tomato);
}

.start-container form input[type='email'] {
    display: block;
    border: 1px solid var(--grey);
    color: var(--dark-slate-grey);
    margin: .25rem 0 1.5rem 0;
}

.btn {
    background: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 700;
    border: none;
}

.start-container form input, .btn {
    width: 100%;
    border-radius: .375rem;
    padding: 1rem;
}

@media screen and (min-width: 425px) {
    body {
        place-content: center;
        padding: 2rem;
    }

    main {
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .text-form-container {
        padding: 2rem;
    }

    .start-container img {
        border-radius: 2rem;
    }
}

@media screen and (min-width: 900px) {
    main {
        max-width: fit-content;
    }

    .start-container {
        max-width: unset;
        padding: 2rem 2rem 2rem 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
    }

    .text-form-container {
        gap: 2rem;
        padding: 2rem 4rem;
    }

    .text-form-container h1 {
        font-size: 2.75rem;
    }

    .start-container picture {
        grid-area: 1 / 2;
    }

    .start-container img {
        border-radius: 0;
    }
}

@media screen and (min-width: 1024px) {
    .text-form-container h1 {
        font-size: clamp(2.5rem, 6vw, 4rem);
    }

    .start-container form input, .btn {
        border-radius: .5rem;
        padding: 1.25rem;
    }
}

@media (hover:hover) {
    form input[type='email'], .btn {
        transition: .2s;
    }

    form input[type='email']:hover {
        border: 1px solid var(--charcoal-grey);
        transition: .2s;
    }

    form input[type='email']:focus-visible {
        outline-offset: 3px;
        outline-color: var(--dark-slate-grey);
        outline-style: groove;
    }

    .btn:hover, .btn:focus-visible {
        background: linear-gradient(90deg, rgba(255,98,87,1) 0%, rgba(255,89,87,1) 50%, rgba(255,185,87,1) 100%);
        transition: 2s;
    }

    .btn, form input[type='email']:focus-visible {
        transition: .05s;
    }
}




































.start-container {
    display: none;
}

.success-container {
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.success-container img {
    margin-top: auto;
}

.success-container h1 {
    line-height: 1;
    font-size: 2.5rem;
}

.success-container .email-span {
    font-weight: 700;
}

.success-container .dismiss-button {
    margin-top: auto;
}