@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './reset.css';
@import './variables.css';

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
}

.start-container {
    border: 1px solid red;
    height: 100%;
    display: grid;
    margin-top: auto;
}

.start-container img {
    width: 100%;
}




















































.success-container {
    display: none;
}